/* Reset */
html {
  box-sizing: border-box;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Reduce animation based on user preferences */
@media screen and (prefers-reduced-motion: reduce),
(update: slow) {
  * {
    animation-duration: 0.001ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.001ms !important;
  }
}

body {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
  font-family: "Karla", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  overflow: hidden;
}

a {
  color: rgb(165, 255, 165);
}

.filter-container {
  width: 100%;
  height: 100%;
  filter: blur(32px) contrast(160);
  background: #fff;
}
@supports (font: -apple-system-body) { 
  .filter-container {
    filter: blur(20px) contrast(10);
  } 
}

.cursor {
  width: 100px;
  height: 100px;
  background: blue;
  border: 2px solid red;
  border-radius: 50%;
}

.content {
  width: 66vw;
  height: 90vh;
  max-width: 700px;
  max-height: 500px;
}

.content-text {
  padding: 16px 48px;
  overflow-y: scroll;
}

.block {
  background: #000;
  border-radius: 20px;
}

.g-ball-a {
  position: absolute;
  width: 200px;
  height: 200px;
  background: blue;
  border-radius: 50%;
  top: -40px;
  left: 120px;
  animation: filterBallMove 4s ease-out infinite;
}

.g-ball-b {
  position: absolute;
  width: 160px;
  height: 180px;
  border-radius: 50%;
  background: blue;
  bottom: -16px;
  right: -40px;
  animation: filterBallMove2 2s ease-out infinite;
}

@keyframes filterBallMove {
  50% {
    left: -40px;
  }
}

@keyframes filterBallMove2 {
  50% {
    right: -8px;
    bottom: 20px;
  }
}

.text {
  color: white;
  z-index: 3;
}

.header {
  font-size: 48px;
}

.description {
  font-size: 24px;
}

.interests {
  font-size: 20px;
  margin: 0;
}
.contact {
  position: absolute;
  bottom: 32px;
  right: 48px;
  color: white;
  list-style-type: none;
}

@media (max-width: 900px) {
  .header {
    font-size: 40px;
  }
  .content {
    width: 72vw;
  }
}

@media (max-width: 700px) {
  .content-text {
    padding: 12px 24px;
  }
  .header {
    font-size: 36px;
  }
  .interests {
    font-size: 18px;
  }
  .contact {
    bottom: 16px;
    right: 24px;
  }
  .content {
    width: 80vw;
  }
  @keyframes filterBallMove {
    50% {
      left: -16px;
    }
  }
  
  .g-ball-b {
    bottom: -16px;
    right: 0px;
  }
  @keyframes filterBallMove2 {
    50% {
      right: -16px;
      bottom: 32px;
    }
  }
}

@media (max-width: 500px) {
  .header {
    font-size: 32px;
  }
  .description {
    font-size: 18px;
  }
  .interests {
    font-size: 16px;
  }
  .contact {
    bottom: 16px;
    right: 16px;
  }
}

.icon-button {
  display: block;
  padding: 6px;
  line-height: 100%;
  height: 48px;
  width: 48px;
  cursor: pointer;
}

.icon-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.center {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.z1 {
  z-index: 1;
}