/* Reset */
html {
  box-sizing: border-box;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Accessibility */

/* Reduce animation based on user preferences */
@media screen and (prefers-reduced-motion: reduce), (update: slow) {
  * {
    animation-duration: 0.001ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.001ms !important;
  }
}
/* Hides an element visually, but not for screen readers, good for link text with visible icons */
.visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

body {
  margin: 0;
  font-family: "Karla", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: 18px solid #e8d5ff;
  animation: borderColor 2s linear infinite alternate-reverse;
  height: 100vh;
  overflow: hidden;
}
@media (max-width: 500px) {
  body {
    border: 8px solid #e8d5ff;
  }
}

p,
a {
  font-size: 1rem;
  line-height: 150%;
  color: #000;
}
@media (max-width: 500px) {
  p,
  a {
    line-height: 125%;
    color: #000;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Heebo", sans-serif;
}

h1 {
  text-transform: lowercase;
  letter-spacing: -6px;
  line-height: 80%;
  color: #9dc5fd;
}
.heading {
  font-size: 14vh;
  height: 24vh;
  margin: 0;
  margin-top: 4vh;
}
.left-text-container {
  height: 66vh;
  overflow-y: scroll;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.left-text-container::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.left-text-container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
@media (max-width: 500px) {
  .heading {
    font-size: 10vh;
    height: 20vh;
  }
  .left-text-container {
    height: 74vh;
    overflow-y: scroll;
  }
}

h2.subtitle {
  color: #fff;
}

.image-text {
  position: absolute;
  bottom: 0;
  margin: 32px 64px;
}
@media (max-width: 500px) {
  .image-text {
    margin: 16px;
  }
}

.image-text-right {
  position: absolute;
  width: 240px;
  right: 40px;
  text-align: right;
  top: 20px;
}

.right-container {
  width: 40vw;
  height: calc(100vh - 80px);
  display: inline-block;
  float: right;
  position: relative;
  overflow: hidden;
  margin: 24px;
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}
@media (max-width: 500px) {
  .right-container {
    width: 30vw;
    margin: 8px;
    height: calc(100vh - 32px);
  }
}
.right-container::before {
  content: "";
  position: absolute;
  width: 110%;
  height: 100%;
  background: linear-gradient(90deg, #bde9ff, rgb(70, 70, 243));
  -webkit-clip-path: url(#clip-water);
  clip-path: url(#clip-water);
  bottom: -30vh;
  left: -10px;
}

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}
.clearfix::after {
  clear: both;
}

.water {
  position: relative;
  width: 40vw;
  -webkit-clip-path: url(#clip-water);
  clip-path: url(#clip-water);
  background-image: url(../assets/underwater.jpg);
  shape-outside: url(#clip-water);
  height: 320px;
  background-attachment: fixed;
  background-size: 100%;
  background-position-x: 0;
  display: inline-block;
  bottom: -29vh;
  right: 0px;
  background-color: #818dd5;
  background-blend-mode: overlay;
  animation: backgroundScrollTop 18s linear infinite alternate-reverse;
}

.person {
  position: absolute;
  top: 20vh;
  left: 0px;
}
.person img {
  height: 150px;
}
@media (max-width: 500px) {
  .person img {
    height: 100px;
  }
}

.left-container {
  display: inline-block;
  float: left;
  position: relative;
  top: 0;
  width: 40vw;
  left: 8vw;
}
@media (max-width: 500px) {
  .left-container {
    position: absolute;
    left: 24px;
    width: 56vw;
  }
}

.contact {
  padding: 0;
  display: flex;
  justify-content: flex-start;
}
.contact li {
  display: flex;
  margin-right: 16px;
}
@media (max-width: 500px) {
  .contact li {
    margin-right: 8px;
  }
}

.icon-button {
  padding: 4px;
  line-height: 100%;
  height: 32px;
  width: 32px;
  cursor: pointer;
}
.icon-button:hover {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
}

.interests {
  margin: 0;
}
.interests ul {
  margin-top: 8px;
  padding-left: 16px;
}

@keyframes backgroundScroll {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -400px 0;
  }
}

@keyframes backgroundScrollTop {
  from {
    background-position: 0 -400px;
  }
  to {
    background-position: 0 -100px;
  }
}

@keyframes borderColor {
  from {
    border-color: #e8d5ff;
  }
  to {
    border-color: #9dc5fd;
  }
}
